.frame{
    /* height: 100vh; */
    border-style: solid;
    border-width: 1rem;
    border-color: rgb(234,245,255);
    font-family: system-ui;
    
}

.navbar{
    padding: 1.5rem;
    color: white;
    background-color: hsl(229, 98%, 53%);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px ;
}
.name{
    font-weight: 700;
    font-size: 2rem;
}
.navlist{
    display: flex;
}
.items{
    padding: 0.5rem 2rem;
    font-size: 1.3rem;

}
.download{

    display: flex;
  
    background-color: white;
    color:hsl(229, 98%, 53%) ;
    border-radius: 5px;
}
.download:hover{
    cursor: pointer;
}
img{
 width: 2rem;  
 padding-right: 0.5rem; 
}

.up{
    display: flex;
    justify-content: space-between;
}
.go{
    width: 40vw;
    
}
.text1{
    padding-right: 5rem;
    font-size: 2em;
}
.down{
    display: flex;
    text-align: right;
    justify-content: space-between;
}
.come{
    width: 40vw;
    
}
.text1{
    padding-left: 5rem;
    font-size: 2em;
   
}
.t1{
    font-weight:900;
}
.t2{
    font-size: 1.5rem;
}
@media screen and (max-width:600px){
    img{
        width: 1rem;
    }
    .t1{
        font-size: 1.5rem;
    }
    .t2{
        font-size: 0.8rem;
    }
    .go{
        width: 25vw;
        height: 25vh;
    }
    .come{
        width: 35vw;
        height: 25vh;
    }
    .items{
        font-size: 0.6rem;
        padding: 0.1rem 0.4rem;
    }
    .text1{
        padding: 0;
    }
    .name{
        font-size: 1rem;
    }
    
}